body,h1,h2,h3,h4,h5,h6 {
  font-family: Dosis, sans-serif;
  font-weight: 200;
}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
    background-color: #FAFAFA;
}
*, *::after, *::before {
  box-sizing: border-box;
}
.noU{
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-weight: 200;

}

#bio{
    font-family: Roboto, Avenire, "sans-serif";
    font-weight: 300;
}
.aliMain{

     padding: 20px;
     background: #515151;
     border: 2px dashed #333;
     border-radius: 50% !important;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
    	border-radius: 50%;
     -moz-box-shadow: 0 0 0 5px #515151, 2px 2px 6px #111;
     -webkit-box-shadow: 0 0 0 5px #515151, 2px 2px 6px #111;
     box-shadow: 0 0 0 5px #515151, 2px 2px 6px #111;


}

/*.aliMain:hover{
  -webkit-transform: scale(1.04,1.04);
  -ms-transform: scale(1.04,1.04);
  transform: scale(1.04,1.04);
}*/

#myName{
  font-family: Hermit, sans-serif;
  font-weight: 200;
}
#cvT{
  font-family: Dosis, sans-serif;
  font-weight: 200;
}
#portfolio a
{
  font-size : 11px;
}

#ge{
  margin-bottom: 13%;
  margin-top: 0;
}
/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Dosis', sans-serif ;
    font-weight: 800;

}
#about{
  font-family: Dosis, sans-serif;
  font-weight: 200;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('Https://Ali-Kiyan.github.io/images/11.jpg');
    min-height: 100%;


}

/* Second image (Portfolio) */
.bgimg-2 {
    background-image: url('https://Ali-Kiyan.github.io/images/14.jpg');
    min-height: 600px;
}

/* Third image (Contact) */
.bgimg-3 {
    background-image: url('https://Ali-Kiyan.github.io/images/44.jpg');
    min-height: 400px;
}

.w3-wide {letter-spacing: 8px;}
.w3-hover-opacity {cursor: pointer;}



video {

   position: relative;
   min-width:  100%;
   min-height: 100%;


}
.skill{
  font-family: "Hermit", Avenire, sans-serif;
  font-weight: 100;
}
.skills{
  font-size: 2.7em;
  font-family: "Hermit", Avenire, sans-serif;
}
i {
  transition: 0.6s linear;
}
/*.skills i:hover {
  font-size: 1.8em;
}*/
/*.skillssmaller i:hover {
  font-size: 2.1em;
}*/
.skillssmaller{
font-size: 3em;
margin-top: 0;
margin-bottom: 0;
}
footer {
  background-color: rgb(43, 55, 69);
  color: whitesmoke;
}


p{
margin-bottom: 0.8em;
}

.fullwidth{
  width: 100%;
}
#modal01{
  background-color:#3c3c3c;
}

#container {
  margin: 40px auto 40px auto;
  width: 70%;
  height: 8px;
  position: relative;

}
#container1 {
  margin: 40px auto 40px auto;
  width: 70%;
  height: 8px;
  position: relative;

}
#container2 {
  margin: 40px auto 40px auto;
  width: 70%;
  height: 8px;
  position: relative;
}
#container3 {
  margin: 40px auto 10% auto;
  width: 70%;
  height: 8px;
  position: relative;
}

div#skills.row.animatedParent{
  margin-bottom: 30%;
}

#skills p{
  margin-top: 5%;
}


#cv {
  transition: 0.2s ;
  font-size: 1.2em;

}
#cv:hover{
  -webkit-transform: scale(1.3,1.3);
  -ms-transform: scale(1.3,1.3);
  transform: scale(1.3,1.3);
}

#bio{
      text-align: justify;
      padding: inherit;
    }

.contactInfo i{

  transition: 0.1s ;

}

.contactInfo a {
  text-decoration: none;
}

.sBar {
    transition: 2s linear;
}


.laramedia:hover {

  transition: 2s;

}
.laramedia i {
  margin-right: 3px;
  margin-left: 3px;
}
*:hover{
transition: 1s linear;
}

#email{
  text-decoration: none;
}
#email:hover{
  color: #1181a2 !important;
}
#linkedIn{
  text-decoration: none;
}
#GitHub{
  text-decoration: none;
}

#myNavbar{
  color: black;
}
#cvT{
  display: inline;
}
.container{
  /*position: fixed;*/
  width: 100%;
  height: 100%;

}
.w3-display-left {
  left: 20% !important;
  top: 70% !important;
}
.mainVid{
  height: 100%;
  width:100%;
  overflow: hidden;
}
.middle{
  width:50%;
  display:block;
  margin: 2% auto 0 auto;
}

.page-footer {
  font-family: "Roboto", sans-serif !important;
  font-weight: 200 !important;
  font-size: 0.94rem !important;
}

.footer-copyright{
    font-weight: 100;
    font-family: "Dosis", sans-serif !important;
    padding: 3% 5% 0 0;

}


/*beginning of nav*/

a{
  text-decoration: none;
}
.soFar a:nth-of-type(1){
  padding-right: 7%;
}

/* --------------------------------

Stretchy Nav style - common to:
 - basic navigation
 - add-content navigation
 - edit-content navigation

-------------------------------- */
.cd-stretchy-nav {
  position: fixed;
  z-index: 2;
  top: 10%;
  right: 5%;
  pointer-events: none;

}
.cd-stretchy-nav .stretchy-nav-bg {
  /* this is the stretching navigation background */
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  border-radius: 20px;
  opacity: 60px;
  background-color: #484848;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -webkit-transition: height 0.2s, box-shadow 0.2s;
  -moz-transition: height 0.2s, box-shadow 0.2s;
  transition: height 0.2s, box-shadow 0.2s;
}
.cd-stretchy-nav.nav-is-visible {
  pointer-events: auto;
}
.cd-stretchy-nav.nav-is-visible .stretchy-nav-bg {
  height: 100%;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
}



.cd-nav-trigger {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  /* replace text with image */
  overflow: hidden;
  white-space: nowrap;
  color: transparent;
  pointer-events: auto;
}
.cd-nav-trigger span, .cd-nav-trigger span::after, .cd-nav-trigger span::before {
  /* this is the hamburger icon */
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: #ffffff;
}
.cd-nav-trigger span {
  /* middle line of the hamburger icon */
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: background-color 0.1s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.cd-nav-trigger span::after, .cd-nav-trigger span::before {
  /* top and bottom lines of the hamburger icon */
  content: '';
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  transition: transform 0.2s;
}
.cd-nav-trigger span::before {
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  -o-transform: translateY(-6px);
  transform: translateY(-6px);
}
.cd-nav-trigger span::after {
  -webkit-transform: translateY(6px);
  -moz-transform: translateY(6px);
  -ms-transform: translateY(6px);
  -o-transform: translateY(6px);
  transform: translateY(6px);
}
.no-touch .cd-nav-trigger:hover ~ .stretchy-nav-bg {
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
}
.nav-is-visible .cd-nav-trigger span {
  background-color: transparent;
}
.nav-is-visible .cd-nav-trigger span::before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.nav-is-visible .cd-nav-trigger span::after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cd-stretchy-nav ul {
  position: relative;
  z-index: 2;
  padding: 60px 0 0;
  visibility: hidden;
  -webkit-transition: visibility 0.3s;
  -moz-transition: visibility 0.3s;
  transition: visibility 0.3s;
  text-align: right;
}
.cd-stretchy-nav ul a {
  position: relative;
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 calc(1em + 60px) 0 1em;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.4rem;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  transition: color 0.2s;
}

.cd-stretchy-nav ul li:hover {
    opacity: 1;
    background-color: rgba(0,0,0,0.7);
    padding-left: 14%;
    color: #ffffff !important;
    font-family: Roboto, Avenire, "sans-serif";
    font-weight: 200;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    transition: color 0.2s;
}
.cd-stretchy-nav ul li:last-child:hover{
  background-color: rgba(0,0,0,0.7);
  border-bottom-right-radius: 1.5em !important;
  color: #ffffff !important;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  transition: color 0.2s;

}

.cd-stretchy-nav ul a::after {
  /* navigation item icons */
  content: '';
  position: absolute;
  height: 16px;
  width: 16px;
  right: 22px;
  top: 50%;
  -webkit-transform: translateY(-50%) scale(0);
  -moz-transform: translateY(-50%) scale(0);
  -ms-transform: translateY(-50%) scale(0);
  -o-transform: translateY(-50%) scale(0);
  transform: translateY(-50%) scale(0);
  opacity: .4;
  background: url(../img/cd-sprite-1.svg) no-repeat 0 0;
}
.cd-stretchy-nav ul a::before {
  /* line visible next to the active navigation item */
  content: '';
  position: absolute;
  width: 3px;
  height: 16px;
  top: 50%;
  right: 60px;
  -webkit-transform: translateX(3px) translateY(-50%) scaleY(0);
  -moz-transform: translateX(3px) translateY(-50%) scaleY(0);
  -ms-transform: translateX(3px) translateY(-50%) scaleY(0);
  -o-transform: translateX(3px) translateY(-50%) scaleY(0);
  transform: translateX(3px) translateY(-50%) scaleY(0);
  background-color: #0a9581;
}
.cd-stretchy-nav ul a:hover{
  border-right:solid 4px #0a9581;
}

.border-bottom{
    border-bottom-right-radius: 1em !important;
}

.cd-stretchy-nav ul li:first-of-type a::after {
  /* change custom icon using image sprites */
  background-position: -32px 0;
}
.cd-stretchy-nav ul li:nth-of-type(2) a::after {
  background-position: -64px 0;
}
.cd-stretchy-nav ul li:nth-of-type(3) a::after {
  background-position: -48px 0;
}
.cd-stretchy-nav ul li:nth-of-type(4) a::after {
  background-position: 0 0;
}
.cd-stretchy-nav ul li:nth-of-type(5) a::after {
  background-position: -16px 0;
}
.cd-stretchy-nav ul span {
  /* navigation item labels */
  display: block;
  opacity: 0;
  -webkit-transform: translateX(-25px);
  -moz-transform: translateX(-25px);
  -ms-transform: translateX(-25px);
  -o-transform: translateX(-25px);
  transform: translateX(-25px);
}

.cd-stretchy-nav.nav-is-visible ul {
  visibility: visible;
}

.cd-stretchy-nav.nav-is-visible ul a::after {
  /* navigation item icons */
  -webkit-transform: translateY(-50%) scale(1);
  -moz-transform: translateY(-50%) scale(1);
  -ms-transform: translateY(-50%) scale(1);
  -o-transform: translateY(-50%) scale(1);
  transform: translateY(-50%) scale(1);
  -webkit-animation: scaleIn 0.15s backwards;
  -moz-animation: scaleIn 0.15s backwards;
  animation: scaleIn 0.15s backwards;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.cd-stretchy-nav.nav-is-visible ul a.active {
  color: #ffffff;
}
.cd-stretchy-nav.nav-is-visible ul a.active::after {
  opacity: 1;
}
.cd-stretchy-nav.nav-is-visible ul a.active::before {
  -webkit-transform: translateX(3px) translateY(-50%) scaleY(1);
  -moz-transform: translateX(3px) translateY(-50%) scaleY(1);
  -ms-transform: translateX(3px) translateY(-50%) scaleY(1);
  -o-transform: translateX(3px) translateY(-50%) scaleY(1);
  transform: translateX(3px) translateY(-50%) scaleY(1);
  -webkit-transition: -webkit-transform 0.15s 0.3s;
  -moz-transition: -moz-transform 0.15s 0.3s;
  transition: transform 0.15s 0.3s;
}
.cd-stretchy-nav.nav-is-visible ul span {
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-animation: slideIn 0.15s backwards;
  -moz-animation: slideIn 0.15s backwards;
  animation: slideIn 0.15s backwards;
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  transition: transform 0.2s;
}

.no-touch .cd-stretchy-nav.nav-is-visible ul a:hover {
  color: #ffffff;
}
.no-touch .cd-stretchy-nav.nav-is-visible ul a:hover::after {
  opacity: 1;
}
.no-touch .cd-stretchy-nav.nav-is-visible ul a:hover span {
  -webkit-transform: translateX(-15px);
  -moz-transform: translateX(-15px);
  -ms-transform: translateX(-15px);
  -o-transform: translateX(-15px);
  transform: translateX(-15px);
}
.cd-stretchy-nav.nav-is-visible ul li:first-of-type a::after,
.cd-stretchy-nav.nav-is-visible ul li:first-of-type span {
  -webkit-animation-delay: 0.05s;
  -moz-animation-delay: 0.05s;
  animation-delay: 0.05s;
}
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(2) a::after,
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(2) span {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(3) a::after,
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(3) span {
  -webkit-animation-delay: 0.15s;
  -moz-animation-delay: 0.15s;
  animation-delay: 0.15s;
}
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(4) a::after,
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(4) span {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(5) a::after,
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(5) span {
  -webkit-animation-delay: 0.25s;
  -moz-animation-delay: 0.25s;
  animation-delay: 0.25s;
}








/* --------------------------------

main content basic style

-------------------------------- */
.cd-main-content {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  padding: 100px 0;
  background-color: #003c5d;
}






/*end of nav*/



/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
    body {
      font-size: 0.5em;
    }
    #bio{
      text-align: justify;
      padding: inherit;
    }
    .soFar{
      font-size: 0.8em;

     }
     div#skills.row.animatedParent{
       margin-bottom: 250px;
     }


}


/* --------------------------------

keyframes

-------------------------------- */
@-webkit-keyframes scaleIn {
  from {
    -webkit-transform: translateY(-50%) scale(0);
  }
  to {
    -webkit-transform: translateY(-50%) scale(1);
  }
}
@-moz-keyframes scaleIn {
  from {
    -moz-transform: translateY(-50%) scale(0);
  }
  to {
    -moz-transform: translateY(-50%) scale(1);
  }
}
@keyframes scaleIn {
  from {
    -webkit-transform: translateY(-50%) scale(0);
    -moz-transform: translateY(-50%) scale(0);
    -ms-transform: translateY(-50%) scale(0);
    -o-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0);
  }
  to {
    -webkit-transform: translateY(-50%) scale(1);
    -moz-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    -o-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
  }
}
@-webkit-keyframes slideIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(-25px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes slideIn {
  from {
    opacity: 0;
    -moz-transform: translateX(-25px);
  }
  to {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
@keyframes slideIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(-25px);
    -moz-transform: translateX(-25px);
    -ms-transform: translateX(-25px);
    -o-transform: translateX(-25px);
    transform: translateX(-25px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}


#portfolio a {
  border-radius: 50px;
}

#portfolio{
  font-family: Dosis, sans-serif;
  font-weight: 300;
}

@font-face {
  font-family: "Hermit";
  src: local(Hermit), url("../fonts/Hermit.otf") format("opentype");
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Thin), url("../fonts/roboto/Roboto-Thin.woff2") format("woff2"), url("../fonts/roboto/Roboto-Thin.woff") format("woff");
  font-weight: 100;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Light), url("../fonts/roboto/Roboto-Light.woff2") format("woff2"), url("../fonts/roboto/Roboto-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Regular), url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Medium), url("../fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/roboto/Roboto-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Bold), url("../fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto/Roboto-Bold.woff") format("woff");
  font-weight: 700;
}
